body {
    font-family: Arial;
    background-color: #000;
    color: #FFF;
}

footer {
    position: absolute;
    right: 0;
    bottom: 1rem;
    left: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    font-size: 0.7em;
}

header {
    height: 5%;
    text-align: center;
    font-variant: small-caps;
    margin-top: 2em;
    font-size: 2em;
    font-weight: bold;
}

main {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    width: 100%;
    margin-top: 3em;
}

@font-face {
    font-family: "LCD-Timer";
    src: url('../font/LCD-font.ttf')
}

.timer {
    /*height: 50%;*/
    font-size: 25em;
    font-family: LCD-Timer;
}

.control {
    margin-top: 1.5em;
    text-align: center;
}

.working {
    background-color: red;
    color: black;
}

.shortBreak {
    background-color: green;
    color: white;
}

.longBreak {
    background-color: blue;
    color: white;
}

.btn {
    background-color: #ffffff;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: none;
    display: inline-block;
    cursor: pointer;
    color: #000000;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    padding: 12px 16px;
    text-decoration: none;
}

.btn:active {
    position: relative;
    top: 1px;
}

.btn-start:hover {
    background-color: #a30000;
    color: white;
}

.btn-stop {
    background-color: black;
    color: red;
}

.btn-stop:hover,
.btn-long:hover,
.btn-short:hover {
    background-color: black;
    color: white;
}

.btn-long {
    background-color: white;
    color: blue;
}

.btn-short {
    background-color: white;
    color: green;
}
